h1 {
    color: #EBF0F5;
    font-family: "Special Elite", cursive;
    text-align: center
}

button {
    color: #272a2d;
    font-family: 'Amatic SC', cursive;
    text-align: left
}

/* font-family: 'Playfair Display', serif; */
